
  <app-calender></app-calender>

<div class="container">
  <div class="header">

    <ion-icon class="back-icon" name="chevron-forward-outline"></ion-icon>
    <h3 class="main-header"  color="dark">
      <!-- {{'L_chooseYourSuitCat'| translate}} -->
      أختر تاريخ الحجز
    </h3>
    <h3 class="child-header" color="medium" >
       المدينة -
       <span *ngFor="let item of categories">
        <span *ngIf="selected.indexOf(item) > 0"> و </span>
        {{item.category_name}}
                
       </span></h3>
  </div>
  <hr/>

<ion-content color="light" class="calender content-scroll">

  <mbsc-datepicker
  [controls]="['calendar']"
  select="range"
  display="inline"
  [touchUi]="true">
</mbsc-datepicker>
</ion-content>
  <hr/>
  <div class="btn-bottom">
    
    <ion-button  shape="round" class="btn-next" color="primary"   size="large" >
      متابعة
    </ion-button>
  </div>
</div>