.container{
    width: 100%;
    height: 100%;
    direction: rtl;
}
.header{
    padding-right: 4px;
    padding-bottom: 10%;
    height: 20%;
}
.back-icon {
    font-size: 30px;
position:absolute;
top: 8%;
right: 1%;

color: var(--ion-color-dark-tint);

  }

.main-header{
    margin-top: 20px;
    color: var(--ion-color-dark-tint);
    text-align: center;
    font-weight: bolder;
}
.child-header{
    color: var(--ion-color-medium-shade);
    text-align: center;
}

hr {
    border-top: 1px solid var(--ion-color-medium, #aaa) !important;
    width: 100% !important;
  }
  ion-list{
      padding: 0px !important;
  }
  .calender{
    height: 50%;
  }
  .avatar{
      width: 100px;
      height: 100px;
      margin-left: 10px;
  }
  .btn-bottom{
    position: relative;
    height: 100px;
    min-height: 20%;


  }
.btn-next{
    width: 220px;
    margin: 0;
    max-width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    font-weight: bolder;
}
.check-icon{
    float: left;
    color: var(--ion-color-primary);
    font-size: 20px;
    float: left;
    font-size: 35px;
    position: absolute;
    left: 20px;
}
.btn-search{
  width: 150px;
  margin: 0;
  max-width: 45%;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-3%, 50%);
  font-weight: bolder;
}

.btn-clear{
  width: 90px;
  margin: 0;
  max-width: 35%;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-168%, 50%);
  font-weight: bolder;
}
