

<div class="container">
  <div class="header">
    <ion-icon class="back-icon" name="chevron-forward-outline"></ion-icon>
    <h3 class="main-header"  color="dark">
      <!-- {{'L_chooseYourSuitCat'| translate}} -->
      أختر المدينة
    </h3>
    <h3 class="child-header" color="medium" >
       أبحث عن واجهتك و أختر من قائمة المدن
    </h3>
    
    <ion-toolbar class="search-toolbar">
      <ion-searchbar 
      (ionInput)="filterList($event)"
      color="ligth"
      showClearButton="focus"
      icon-color="primary"
      placeholder="أبحث عن المدينة"
      search-icon="search-sharp"	
      >
    </ion-searchbar>
    </ion-toolbar>
  
  <hr />

</div>
<ion-content  class="content-scroll">
  <!-- <ion-list  > -->
        <h4 class="city-name" *ngFor="let item of cities">{{item.city}}</h4>
  <!-- </ion-list> -->
</ion-content>

</div>