.container{
    width: 100%;
    height: 100%;
    direction: rtl;
}
.header{
    padding-right: 4px;


}
.back-icon {
    font-size: 30px;
    position:absolute;
    top: 5%;
    right: 1%;
    color: var(--ion-color-dark-tint);
  }
.main-header{
    color: var(--ion-color-dark-tint);
    text-align: center;
    font-weight: bolder;
}
.child-header{
    color: var(--ion-color-medium-shade);
    text-align: center;
}

hr {
    border-top: 1px solid var(--ion-color-medium, #aaa) !important;
    width: 100% !important;
    display: block;
  }
  ion-list{
      padding: 0px !important;
  }
  .content-scroll{
    height: 64%;

  }

.city-name{
  padding: 8px;
  margin-right: 15px;
}